:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

body {
    background-color: var(--light-gray);
    margin: 0px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h4 {
    font-size: 22px;
    font-weight: 700;
    margin: 0px;
}

p {
    font-size: 15px;
    font-weight: 400;
    color: var(--grayish-blue);
    margin: 0px;
}

#qr-card {
    padding: 16px;
    background-color: var(--white);
    border-radius: 20px;
    margin: auto;
    width: calc(320px - 16px - 16px);
    font-family: "Outfit", sans-serif;
    text-align: center;
    box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.0477);
}

#qr-card img {
    border-radius: 10px;
}

.qr-card-text {
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}